.bg-dark {
  background-color: #111316 !important;
}
.navbar-dark {
  .navbar-nav .nav-link {
    color: white;
    font-size: 0.8rem;
  }
  .navbar-toggler {
    color: white;
    border: none;
    outline: none;
  }
  .navbar-brand {
    img {
      float: left;
    }
  }
}
.navbar {
  @media (min-width: 992px) {
    padding: 1px 1rem;
  }
}
