.search-bar {
  width: 100%;
  background: white;
  top: 49px;
  padding: 14px 0;
  border-bottom: 1px solid #e2e2e3;
  z-index: 1029;
  height: 68px;
  @media (min-width: 992px) {
    top: 37px;
  }
}
.search-bar-row {
  display: flex;
  flex-direction: row;
}
.black-logo {
  max-width: 110px;
  margin-right: 1rem;
}
.shopping-card {
  color: #111316;
  font-size: 1.5rem;
  margin-left: 1rem;
}
